<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-not-logged-in">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <img src='static/img/logo.svg' id="navbar-logo" />
            <span>Timetable.io</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="nav-link" aria-current="page">
                        <a class="nav-link active" href="/login">Login</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" aria-current="page">
                        <form action="/signup" method="GET">
                            <input type="submit" value="Sign up" class="btn btn-outline-dark" />
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>