.modal-badge {
    display: inline;
    color: black;
    font-size: .875rem;
    padding: 0.4em 0.7em 0.4em 0.7em;
    margin: 5px;
    border-radius: .5em;
    cursor: pointer;
}

.modal-badge:hover {
    filter: brightness(0.85);
}

.modal-badge.general {
    background-color: #198754;
}

.modal-badge.arts {
    background-color: var(--mauvelous-faded);
}

.modal-badge.c-comm {
    background-color: var(--verdigris-faded);
}

.modal-badge.e-comm {
    background-color: var(--juneBud-faded);
}

.modal-badge.hlth {
    background-color: var(--blue-bell-faded);
}

.modal-badge.h {
    background-color: var(--camel-faded);
}

.modal-badge.qr {
    background-color: var(--blue-green-faded);
}

.modal-badge.sat {
    background-color: var(--cornYellow-faded);
}

.modal-badge.sa {
    background-color: var(--orange-faded);
}

#search {
    display: flex;
}

#refine-modal .dropdown-menu {
    max-height: 35vh;
    overflow-y: scroll;
}

.modal-body > * {
    margin: .7rem 0;
}

.modal-body > *:first-child {
    margin-top: 0;
}

.modal-body > *:last-child {
    margin-bottom: 0;
}

.modal-body .badge-container {
    margin: .7rem -5px;
}