.multi-selector {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out, box-shadow .15s ease-in-out, width .4s ease-in-out;
    appearance: none;
    word-wrap: normal;
    text-align: start;
    overflow-x: hidden;
    color: white;
}

.multi-selector:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.multi-selector-hidden {
    /* width: 0px; */
    transition: border-color 0s ease-in-out;
}

.multi-selector-value {
    opacity: 1;
    transition: opacity .5s ease-in-out .1s;
}

.multi-selector-hidden .multi-selector-value {
    opacity: 0;
    transition: opacity 0s ease-in-out;
}

.options-container {
    width: 100%;
    position: absolute;
    z-index: 999;
}

.multi-selector-options {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 0.375rem 0;
    z-index: 999;
    max-height: 500px;
    overflow-y: scroll;
    background-color: white;
}

.option-hero {
    color: #212529;
    padding: 0.375rem .75rem .375rem .75rem;
    white-space: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-hero:hover {
    color: #1e2125;
    background-color: #e9ecef;
}

.option {
    padding: 0;
    z-index: 0;
}

.tick {
    width: 21px;
    height: 16px;
    flex-shrink: 0;
    z-index: 0;
}

.tick-path {
    fill: none; 
    stroke: #000;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 27;
    stroke-dashoffset: 27;
    -webkit-transition: stroke-dashoffset .1s linear;
    -moz-transition: stroke-dashoffset .1s linear;
    -ms-transition: stroke-dashoffset .1s linear;
    -o-transition: stroke-dashoffset .1s linear;
    transition: stroke-dashoffset .1s linear;
}

.tick-path.drawn{
    opacity: 1;
    stroke-dashoffset: 0;
}

.common-core-filter-btns .position-relative {
    width: 180px;
}

@media (max-width: 992px) {
    .options-container {
        position: static;
    }

    .common-core-filter-btns .position-relative {
        width: 100%;
        flex-grow: 1;
    }

    .multi-selector {
        text-align: center;
    }

    .option {
        text-align: center;
        width: 100%;
    }
}