@import url('./imports/navbar.css');
@import url('./imports/colors.css');
@import url('./imports/scrollbar.css');

@import url('./imports/configure-courseCard.css');
@import Url('./imports/configure-modal.css');

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#credits {
    width: 135px;
}

.section-hero {
    border-bottom: 1px solid var(--border-gray);
    padding: 1rem 0;
}

.section-hero:last-of-type {
    border-bottom: 1px solid transparent;
}

.section-title {
    font-size: 20px;
    font-weight: 800;
}

.section-content-description {
    margin: 7px 0;
}

.dropdown button {
    width: 100%;
}

.dropdown-menu {
    width: 100%;
}

.alert-msg {
    color: red;
    font-size: .8rem;
}

/* refine section ------------------------*/
#refine-section-hero {
    min-height: 140px;
}

.refine-flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: .7rem;
}

.course-cards-container.common-core-area {
    flex-shrink: 0;
    margin-right: 1rem;
}

.course-cards-container.common-core-list {
    padding-left: .7rem;
    border-radius: 0;
    border-left: 1px var(--border-gray) solid;
}
.course-cards-container.common-core-list .course-card:last-of-type {
    margin-right: 25px;
}

.course-cards-container.common-core-list i.bi-chevron-right {
    display: flex;
    font-size: 25px;
    align-items: center;
}

.course-cards-container.common-core-list i.bi-chevron-right:first-of-type {
    display: none;
}

/* ---------------------------------------*/

.weekdays-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-row {
    position: relative;
    margin-bottom: 1.5rem;
}

.time-row:nth-last-child(2) {
    margin-bottom: 0;
}

.dropdown-wrapper[wrapped="weekdays"] {
    width: 90%;
}

.dropdown-wrapper[wrapped="weekdays"] button {
    background: white;
    border: 1px solid #ced4da;
    color: black;
}

.time-item {
    position: relative;
}

.time-item input {
    text-align: center;
}

.pill-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.pill-container-shorten {
    width: calc(100% - var(--bs-gutter-x));
}

#time-off-hero i.bi-plus-circle {
    font-size: 25px;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
    margin-left: 1rem;
    color: #999999;
}

#time-off-hero i.bi-plus-circle:hover {
    color: black;
}

#time-off-hero .bi-x {
    font-size: 1.5rem;
    position: absolute;
    display: flex;
    padding: 0;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    top: 57%;
    right: 12%;
    border: 1.5px solid transparent;
    z-index: 500;
    transition: border .15s ease-in-out;
}

#time-off-hero .bi-x:hover {
    border: 1.5px solid black;
}

#cc-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 1px solid #ced4da;
    color: black;
}

#submit-hero {
    display: flex;
    justify-content: flex-end;
}

#submit-hero button {
    margin: 0 1rem;
}

@media (max-width: 992px) {
    .time-item {
        margin-top: 2.5rem;
    }

    #time-off-hero .bi-x {
        top: 22%;
        right: 6px;
        font-size: 30px;
        width: 30px;
        height: 30px;
    }

    .refine-flex-container {
        display: block;
    }

    .course-cards-container.common-core-list {
        padding-left: 0;
        border-radius: 0;
        border-left: none;
    }

    #refine-section-hero .course-card[card-type="title"] {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #credits {
        width: 100%;
        text-align: center;
    }

    .dropdown-wrapper[wrapped="fav-courses"] {
        width: 100%;
    }

    .dropdown-wrapper[wrapped="fav-courses"] .dropdown {
        width: 100%;
    }

    .course-cards-container.common-core-list i.bi-chevron-right {
        width: 100%;
        justify-content: center;
    }

    .course-cards-container.common-core-list i.bi-chevron-right:before {
        transform: rotate(90deg);
    }

    /* time off section */
    .course-card button text, .weekdays-button text {
        flex-grow: 1;
    }

    .dropdown-wrapper[wrapped="weekdays"] {
        width: 100%;
    }

    .pill-container-shorten {
        width: unset;
    }

    .time-item {
        margin-top: 3rem;
    }

    #time-off-hero .bi-x {
        top: 8%;
        right: 3%;
        font-size: 30px;
        width: 30px;
        height: 30px;
    }

    .course-card button, .weekdays-button text, #cc-btn text {
        flex-grow: 1;
    }

    .weekdays-button + ul > li {
        text-align: center;
    }

    #cc-btn + ul > li {
        text-align: center;
    }
    
    #submit-hero {
        display: block;
    }

    #submit-hero button {
        display: block;
        width: 100%;
        margin: .5rem 0;
    }
}