@import url('./imports/navbar.css');
@import url('./imports/multi-selector.css');
@import url('./imports/courseList.css');
@import url('./imports/scrollbar.css');

.hidden {
    color: white;
    font-size: 1px;
    pointer-events: none;
}

.filter-badge {
    display: inline-block;
    color: white;
    font-size: .8em;
    padding: 0.4em 0.7em 0.4em 1em;
    margin: 5px;
    border-radius: .5em;
}

#filter-badges-container {
    margin: 0 -5px;
}

.filter-badge > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject-badge {
    background-color: #198754;
    border-color: #198754;
}

.school-badge {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.area-badge {
    background-color: #0DCAF0;
    border-color: #0DCAF0;
}

.common-core-badge {
    background-color: #dc3545;
    border-color: #dc3545;
}

.filter-name {
    margin: 0 .4em 0 0;
}

.filter-close {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color .15s ease-in-out;
    width: 18px;
    height: 18px;
}

.filter-close:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#common-core-filter-toggle {
    display: block;
    flex-shrink: 0;
    margin-right: 1rem;
}

#common-core-filter-checkbox {
    pointer-events: none;
    margin-right: 0.5rem;
}

#common-core-filter-checkbox:focus {
    border-color: inherit;
    outline: inherit;
    box-shadow: inherit;
}

#search {
    display: flex;
}

.common-core-filter-btns {
    display: flex;
}

#end-of-badges {
    position: relative;
}

#spinner {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

#spinner.hidden {
    visibility: hidden;
}

#area-options {
    width: unset;
}

@media (max-width: 992px) {
    .common-core-filter-btns {
        display: block;
    }

    #common-core-filter-toggle {
        margin-right: 0;
        width: 100%;
    }
}