@import url('./imports/navbar.css');
@import url('./imports/colors.css');

#hero {
    margin-top: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#signup-form-body {
    background-color: var(--bg-gray);
    border: 1px solid var(--border-gray);
    border-radius: 6px;
    margin-top: 16px;
    padding: 16px;
}

.signup-form {
    width: 340px;
}

#signup-form-body {
    background-color: var(--bg-gray);
    border: 1px solid var(--border-gray);
    border-radius: 6px;
    margin-top: 16px;
    padding: 16px;
}
#signup-form-body form {
    width: 100%;
}

#signup-form-body label {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#signup-form-body label a {
    font-size: 12px;
}

#signup-form-body input {
    margin: 5px 0 15px 0;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

#signup-form-body input[type="submit"] {
    font-weight: 800;
}