@import url('./imports/navbar.css');
@import url('./imports/courseList.css');

* {
    box-sizing: border-box;
}
.tableHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8d8d8d;
    height: 50px;
    margin-bottom: 2px;
}
#title{
    color: white;
    font-size: 22px;
}
.timetableButton {
    margin-right: 10px;
}
.timetable {
    background-color: #0080ff;
    display: grid;
    grid-template-areas: ". week" "time content";
    grid-template-columns: 60px;
    grid-template-rows: 50px;
    width: 100%;
    height: 1200px;
    margin-bottom: 30px;
}
.timetable .week-names {
    background-color: #0080ff;
    grid-area: week;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 20px;
    color: white;  
}
.timetable .week-names > div {    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 0 0 #eceff1;
}
.timetable .time-interval {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(31, 1fr);
    font-size: 14px;
}
.time-interval div:nth-child(2n){
    background-color:#99cdff;
}
.time-interval div:nth-child(2n+1){
    background-color:#cde5fe;
}
.content > div{
    background-color:#cde5fe;;
}
.content > div:nth-child(14n){
    background-color:#99cdff;
}
.content > div:nth-child(14n-1){
    background-color:#99cdff;
}
.content > div:nth-child(14n-2){
    background-color:#99cdff;
}
.content > div:nth-child(14n-3){
    background-color:#99cdff;
}
.content > div:nth-child(14n-4){
    background-color:#99cdff;
}
.content > div:nth-child(14n-5){
    background-color:#99cdff;
}
.content > div:nth-child(14n-6){
    background-color:#99cdff;
}
.timetable .time-interval > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 1px 0 0 #eceff1;
}
.timetable .content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(31, 1fr);    
}
.timetable .content > div {
    box-shadow: inset 1px 0 0 #eceff1, inset 0 1px 0 0 #eceff1;
}
#button-list{
    position: relative;
    display: flex;
    flex-direction: row;
}
#button-list >li > a{
    background-color: #6c777b;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
#button-list > button{
    margin-right: 10px;
    margin-bottom: 10px;
}
#search {
    position: absolute;
    display: flex;
    right: 0px;
    flex-direction: row;
    margin-bottom: 10px;
}
#search > input{
    width: 150px;
}
.timeslot {
    position: relative;
}
.timetable .accent-orange-gradient {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #eec08e, #dcee8e);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
    z-index: 1;
}
.timetable .accent-orange-gradient:hover {
    box-shadow: 0 20px 30px 0 black;
    transform: scale(1.5);
}
.timetable .accent-pink-gradient {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ee8ebc, #eea08e);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
    z-index: 1;
}
.timetable .accent-pink-gradient:hover {
    box-shadow: 0 20px 30px 0 black;
    transform: scale(1.5);
}

.timetable .accent-green-gradient {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #bcee8e, #8eeea0);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
    z-index: 1;
}
.timetable .accent-green-gradient:hover {
    box-shadow: 0 20px 30px 0 black;
    transform: scale(1.5);
}
.timetable .accent-cyan-gradient {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8eeec0, #8edcee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
    z-index: 1;
}
.timetable .accent-cyan-gradient:hover {
    box-shadow: 0 20px 30px 0 black;
    transform: scale(1.5);
}
.timetable .accent-blue-gradient {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8ebcee, #a08eee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
    z-index: 1;
}
.timetable .accent-blue-gradient:hover {
    box-shadow: 0 20px 30px 0 black;
    transform: scale(1.5);
}
.timetable .accent-purple-gradient {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #c08eee, #ee8edc);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
    z-index: 1;
}
.timetable .accent-purple-gradient:hover {
    box-shadow: 0 20px 30px 0 black;
    transform: scale(1.5);
}
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.modal-dialog-course {
    max-width: 90vw;
}
.modal-header {
    align-items: flex-start;
}
.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sessionDiv {
    overflow: hidden;
    border:3px solid #8d8d8d;
    border-radius: 5px;
}