<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link href="static/css/signup.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <div class="container-xxl" id="hero">
        <div class="signup-form" id="signup-form">
            <h1>Sign up to Timetable.io</h1>
            <div id="signup-form-body">
                <form action="/signup" method="POST" accept-charset="utf-8" id="signup-form" class="signup-form"
                    role="form">
                    <input type="text" name="first_name" value="" class="form-control input-lg" id="first_name"
                        placeholder="First Name" />
                    <input type="text" name="last_name" value="" class="form-control input-lg" id="last_name"
                        placeholder="Last Name" />
                    <input type="email" name="username" value="" class="form-control input-lg" id="username"
                        placeholder="Email" />
                    <input type="password" name="password" value="" class="form-control input-lg" id="password"
                        placeholder="Password" />
                    <input type="password" name="confirm_password" value="" class="form-control input-lg"
                        id="confirm_password" placeholder="Confirm Password" />
                    By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy,
                    including our Cookie Use.
                    <input type="submit" class="btn btn-success" value="Create my account" />
                </form>
                <div id="alert-container">
                </div>
            </div>
        </div>
        <div class="signup-form" id="signup-box">
            Already have a account? <a href='/login'>Login</a>
        </div>
    </div>

    <%- include('../partials/scripts'); %>
        <script src="static/js/signup.js"></script>
</body>

</html>