<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
        <link href="static/css/courses.css" rel="stylesheet" />
</head>

<body class="no-select">
    <header>
        <%- include('../partials/navbar-logged-in'); %>
    </header>

    <div class="container-xxl">
        <h1>
            <%= page[0].toUpperCase() + page.slice(1) %>
        </h1>

        <div class="row no-select">
            <div class="col-lg-2" elemType="multi-selector">
                <div class="position-relative">
                    <button class="multi-selector mb-1 multi-selector-hidden bg-primary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#school-options" aria-expanded="false"
                        aria-controls="school-collapse">
                        <div class="multi-selector-value" data-target="schools">
                            Schools
                        </div>
                    </button>
                    <div class="collapse options-container" id="school-options">
                        <div class="multi-selector-options">
                            <div class="end-of-list"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2" elemType="multi-selector">
                <div class="position-relative">
                    <button class="multi-selector mb-1 multi-selector-hidden bg-success" type="button"
                        data-bs-toggle="collapse" data-bs-target="#subject-options" aria-expanded="false"
                        aria-controls="subject-collapse">
                        <div class="multi-selector-value" data-target="subjects">
                            Subjects
                        </div>
                    </button>
                    <div class="collapse options-container" id="subject-options">
                        <div class="multi-selector-options">
                            <div class="end-of-list"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 common-core-filter-btns">
                <button class="btn btn-outline-danger mb-1" id="common-core-filter-toggle">
                    <span>Common Core Course only</span>
                    <input class="form-check-input" type="checkbox" value="" id="common-core-filter-checkbox">
                </button>

                <div class="position-relative" elemType="multi-selector">
                    <button class="multi-selector mb-1 multi-selector-hidden bg-info" type="button"
                        data-bs-toggle="collapse" data-bs-target="#area-options" aria-expanded="false"
                        aria-controls="area-collapse">
                        <div class="multi-selector-value" data-target="areas">
                            Areas
                        </div>
                    </button>
                    <div class="collapse options-container" id="area-options">
                        <div class="multi-selector-options">
                            <div class='option-hero' data-type="areas" content="arts">
                                <div class="option no-select">Arts</div>
                                <svg version="1.1" class='tick' xmlns="http://www.w3.org/200/svg"
                                    xmlns:link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 16"
                                    xml:space="preserve">
                                    <polyline class="tick-path" points="3,9 7,13 18,3"></polyline>
                                </svg>
                            </div>
                            <div class='option-hero' data-type="areas" content="c-comm">
                                <div class="option no-select">Chinese communication</div>
                                <svg version="1.1" class='tick' xmlns="http://www.w3.org/200/svg"
                                    xmlns:link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 16"
                                    xml:space="preserve">
                                    <polyline class="tick-path" points="3,9 7,13 18,3"></polyline>
                                </svg>
                            </div>
                            <div class='option-hero' data-type="areas" content="e-comm">
                                <div class="option no-select">English communication</div>
                                <svg version="1.1" class='tick' xmlns="http://www.w3.org/200/svg"
                                    xmlns:link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 16"
                                    xml:space="preserve">
                                    <polyline class="tick-path" points="3,9 7,13 18,3"></polyline>
                                </svg>
                            </div>
                            <div class='option-hero' data-type="areas" content="hlth">
                                <div class="option no-select">Healthy Lifestyle</div>
                                <svg version="1.1" class='tick' xmlns="http://www.w3.org/200/svg"
                                    xmlns:link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 16"
                                    xml:space="preserve">
                                    <polyline class="tick-path" points="3,9 7,13 18,3"></polyline>
                                </svg>
                            </div>
                            <div class='option-hero' data-type="areas" content="h">
                                <div class="option no-select">Humanities</div>
                                <svg version="1.1" class='tick' xmlns="http://www.w3.org/200/svg"
                                    xmlns:link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 16"
                                    xml:space="preserve">
                                    <polyline class="tick-path" points="3,9 7,13 18,3"></polyline>
                                </svg>
                            </div>
                            <div class='option-hero' data-type="areas" content="qr">
                                <div class="option no-select">Quantitative Reasoning</div>
                                <svg version="1.1" class='tick' xmlns="http://www.w3.org/200/svg"
                                    xmlns:link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 16"
                                    xml:space="preserve">
                                    <polyline class="tick-path" points="3,9 7,13 18,3"></polyline>
                                </svg>
                            </div>
                            <div class='option-hero' data-type="areas" content="sat">
                                <div class="option no-select">Science and Technology</div>
                                <svg version="1.1" class='tick' xmlns="http://www.w3.org/200/svg"
                                    xmlns:link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 16"
                                    xml:space="preserve">
                                    <polyline class="tick-path" points="3,9 7,13 18,3"></polyline>
                                </svg>
                            </div>
                            <div class='option-hero' data-type="areas" content="sa">
                                <div class="option no-select">Social Analysis</div>
                                <svg version="1.1" class='tick' xmlns="http://www.w3.org/200/svg"
                                    xmlns:link="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 16"
                                    xml:space="preserve">
                                    <polyline class="tick-path" points="3,9 7,13 18,3"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="filter-badges-container">
                <div id="end-of-badges">
                    <div id='spinner' class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>
            </div>

            <div id="course-list-hero">
                <p aria-hidden="true" class="no-select hidden" tabindex="-1">To kill bug in BootStrap Collapse
                </p>
            </div>

        </div>

        <%- include('../partials/scripts'); %>
            <script type="module" src="static/js/courses.js"></script>
</body>

</html>