<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
        <link href="static/css/editprofile.css" rel="stylesheet" />
</head>

<body>
    <header>
        <%- include('../partials/navbar-logged-in'); %>
    </header>
    <div class="container-xxl">
        <div id='hero'>
            <h1>Edit profile</h1>
            <form action="/editprofile" method="POST" accept-charset="utf-8" id="update-form" class="update-form"
                role="form">
                <h3>Name</h3>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        First Name
                        <input type="text" name="first_name" values="" class="form-control input-lg" id="first_name"
                            placeholder="" />
                    </div>
                    <div class="col-xs-6 col-md-6">
                        Last Name
                        <input type="text" name="last_name" value="" class="form-control input-lg" id="last_name"
                            placeholder="" />
                    </div>
                </div>
                <h3>Reset password</h3>
                Insert old password
                <input type="password" name="old_password" value="" class="form-control input-lg" id="old_password"
                    placeholder="password" />
                Insert new password
                <input type="password" name="new_password" value="" class="form-control input-lg" id="new_password"
                    placeholder="New Password" />
                <input type="password" name="confirm_new_password" value="" class="form-control input-lg"
                    id="confirm_new_password" placeholder="Confirm new Password" />
                <div id='confirmLayer'>
                    <input id='confirmButton' type="submit" class="btn btn-lg btn-primary btn-block signup-btn" value="Confirm">
                </div>    
            </form>
            <div id="alert-container">
            </div>
        </div>
    </div>

    <%- include('../partials/scripts'); %>
        <script type="module" src="static/js/editprofile.js"></script>
</body>

</html>